nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(97, 190, 159);
}

nav > a {
    font-weight: bolder;
    margin: 0 25px;
    text-decoration: none;
    color: whitesmoke;
}

.active {
    color: black;
}
